@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --cilto-blue: #1E3A8A; /* Blu scuro */
  --cilto-accent: #3B82F6; /* Blu di accento */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fb;
  color: var(--foreground);
}

.cilto-bg-blue {
  background-color: var(--cilto-blue);
}
